appdirs==1.4.3
asn1crypto==1.3.0
astroid==2.3.3
attrs==19.3.0
autopep8==1.5
azure-common==1.1.24
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
beautifulsoup4==4.8.1
biopython==1.74
black==19.3b0
boto3==1.10.38
botocore==1.13.38
bs4==0.0.1
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
colour==0.1.5
cryptography==2.8
dash==1.4.1
dash-bio==0.2.0
dash-bio-utils==0.0.3
dash-core-components==1.3.1
dash-daq==0.2.1
dash-html-components==1.0.1
dash-renderer==1.1.2
dash-table==4.4.1
docutils==0.15.2
Flask==1.1.1
Flask-Compress==1.4.0
future==0.18.1
GEOparse==1.2.0
idna==2.8
ijson==2.6.1
importlib-metadata==0.23
isort==4.3.21
itsdangerous==1.1.0
jcapiv1==3.3.0
jcapiv2==3.3.0
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
jsonschema==3.1.1
lazy-object-proxy==1.4.3
lxml==4.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.2.0
numpy==1.17.3
oscrypto==1.2.0
pandas==0.25.2
ParmEd==3.2.0
periodictable==1.5.1
plotly==4.2.1
pycodestyle==2.5.0
pycparser==2.20
pycryptodomex==3.9.7
PyJWT==1.7.1
pylint==2.4.4
pyOpenSSL==19.1.0
pyparsing==2.4.2
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.3
randomuser==1.5.1
requests==2.22.0
retrying==1.3.3
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.3.1
selenium==3.141.0
si==0.1.1.post1
six==1.13.0
snowflake-connector-python==2.2.1
soupsieve==1.9.5
toml==0.10.0
tqdm==4.36.1
typed-ast==1.4.0
urllib3==1.25.7
Werkzeug==0.16.0
wrapt==1.11.2
zipp==0.6.0
